<h1>Felhasználói adatok:</h1>

<dl>
  <dt>user_id</dt>
  <dd><%=h @iwiw_user.user_id %></dd>
</dl>

<dl>
  <dt>token<dt>
  <dd><%=h @iwiw_user.token %></dd>
</dl>

<dl>
  <dt>secret<dt>
  <dd><%=h @iwiw_user.secret %></dd>
</dl>

<dl>
  <dt>screen_name<dt>
  <dd><%=h @iwiw_user.screen_name %></dd>
</dl>

<dl>
  <dt>anonymous<dt>
  <dd><%=h @iwiw_user.anonymous %></dd>
</dl>


<dl>
  <dt>thumbnail_url<dt>
  <dd><img src="<%=h @iwiw_user.thumbnail_url %>"/><%=h @iwiw_user.thumbnail_url %></dd>
</dl>


<%= render :partial => 'call_iwiw_api' %>
